@using personal_blog.Models.Entity

@model List<TblSocialMedya>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayouth.cshtml";
}
@{string renk = "";}
@{string renkOran = "";}
<h2>Social Media</h2>
<!DOCTYPE html>
<html>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Sosyal Medya Listem</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                               <button class="btn btn-info" data-toggle="modal" data-target="#Modal1">
                                   Yeni Sosyal Medya Hesabı Ekle
                               </button>
                                <br />
                                <table class="table table-bordered">
                                    <br />
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Sosyal Medya</th>
                                            <th>Durum</th>
                                            <th>Duzenle</th>
                                            <th>Sil</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                           
                                            <tr>
                                                <td>@item.Id</td>
                                                <td>@item.Ad</td>
                                                <td>@item.durum</td>
                                                <td>
                                                    <a class="btn btn-info btn-sm" href="/SocialMedia/updateSocialMedia/@item.Id/">
                                                        <i class="fas fa-pencil-alt">
                                                        </i>
                                                        Düzenle
                                                    </a>
                                                </td>
                                                <td>
                                                    <a class="btn btn-danger btn-sm" href="/SocialMedia/deleteSocialMedia/@item.Id/">
                                                        <i class="fas fa-trash">
                                                        </i>
                                                        Sil
                                                    </a>
                                                </td>


                                            </tr>

                                        }


                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->

                        </div>

                    </div>

                </div>
                <!-- /.row -->
                <!-- /.row -->
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <div class="modal" id="Modal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Sosyal Medya Ekleme Paneli </h2>
                    </div>
                    <form method="post" action="/SocialMedia/addSocialMedia">
                        <div class="modal-body">
                            <label> Sosyal Medya İsmi</label>
                            <input type="text" name="Ad" class="form-control" /><br />
                            <label> Sosyal Medya Link</label>
                            <input type="text" name="Link" class="form-control" /><br />
                            <label>İcon</label>
                            <input type="text" name="icon" class="form-control" /><br />
                            <button class="btn btn-info">Kaydet</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <!-- /.content -->
    </div>

</body>
</html>
