
<div class="resume-section-content">
    <form method="post">
        <label>Ad Soyad</label>
        <input type="text" class="form-control" name="name" />
        <label>Mail</label>
        <input type="text" class="form-control" name="mail" />
        <label>Konu</label>
        <input type="text" class="form-control" name="topic" />
        <label>Mesaj</label>
        <input type="text" class="form-control" name="message" /><br />
          
        <button class="btn btn-info">Mesaj Gonder</button>
    </form>

</div>