
@{
    ViewBag.Title = "addExperience";
    Layout = "~/Views/Shared/_AdminLayouth.cshtml";
}
<br />
<h2>Yeni Deneyim Ekle Sayfası</h2>
<br />
<form method="post">
    <input type="text" name="title" class="form-control" placeholder="Başlıgı yazınız" /><br />
    <input type="text" name="subtitle" class="form-control" placeholder="Alt baslık yazınız" /><br />
    <textarea placeholder="Acıklama yaz" name="explain" class="form-control" rows="5"> </textarea><br />
    <input type="text" name="date" class="form-control"  /><br />

    <button class="btn btn-info">Kaydet</button>

</form>

